* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

@media(min-width:1140px) {
    .my-container {
        max-width: 1140px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

p {
    margin-bottom: 0 !important;
}

.border-style {
    border: 10px solid #FFF4EA;
    border-radius: 100px;
}

.border-radius-23px {
    border-radius: 23px;
}

.top_50 {
    position: absolute;
    top: -50%;
}


.card-btn {
    color: #ffff;
    background-color: #FF5B2E;
    border: none;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 28px;
    padding-right: 28px;
}

.card-btn:hover.btn-shadow {
    box-shadow: 0px 13px 26px -8px #FF5B2E6B !important;
}

.lines {
    position: absolute;
    top: 5%;
    left: 0;
}

.updownline {
    animation: updownline 1s linear infinite alternate;
}

@keyframes updownline {
    0% {
        top: 5%;
    }

    100% {
        top: 10%;
    }
}

.circles {
    position: absolute;
    top: 2%;
    right: 2%;
}

.updowncircle {
    animation: updowncircle 0.5s linear infinite alternate;
}

@keyframes updowncircle {
    0% {
        top: 2px;
    }

    100% {
        top: 12px;
    }
}

.line-height-30px {
    line-height: 30px !important;
}

.box-shadow2 {
    box-shadow: 0px 36px 39px 0px #07003B0A !important;
}

.line-height-36px {
    line-height: 36.4px;
}

.line-height-26px {
    line-height: 26px;
}

.max-width-278 {
    max-width: 278px;
}

.pera-spacing {
    word-spacing: 5px;
}

.curser-pointer {
    cursor: pointer;
}

.arrow-position {
    transform: translate(72.3%, -270%);
}

.next-pos {
    margin-right: 80px;
}


.ps_12 {
    padding-left: 30px;
}

.footer-line {
    max-width: 1140px;
    height: 2px;
    background-color: #EEDDCE;
}

.color-black {
    color: #89847f;
}

.m-w-576px {
    max-width: 576px;
}

.border-style2 {
    border: 30px solid #fffaf5;
    border-radius: 300px;
}

.center-img-style {
    border-radius: 300px;
    border: 5px solid #FFEFDE;

}

.circle-2 {
    position: absolute;
    right: -2%;
    border: 5px solid #FFEFDE;
    top: 25%;
    height: 36px;
    width: 35px;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
    border-radius: 50px;
    z-index: 2;
}

.circle-4 {
    position: absolute;
    right: -3%;
    border: 5px solid #FFEFDE;
    bottom: 27%;
    height: 36px;
    width: 35px;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
    border-radius: 50px;
    z-index: 2;
}

.circle-1 {
    position: absolute;
    left: -3.2%;
    border: 5px solid #FFEFDE;
    top: 25%;
    height: 36px;
    width: 35px;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
    border-radius: 50px;
    z-index: 2;
}

.circle-3 {
    position: absolute;
    left: -3%;
    border: 5px solid #FFEFDE;
    bottom: 27%;
    height: 36px;
    width: 35px;
    background: linear-gradient(145.61deg, rgba(255, 96, 49, 0.6) 15.14%, rgba(249, 168, 14, 0.6) 93.39%);
    border-radius: 50px;
    z-index: 2;
}

.chart-line-1 {
    width: 330px;
    height: 5px;
    background-color: #FFEFDE;
    position: absolute;
    left: 0px;
    top: 27%;
}
.chart-line1 {
    width: 330px;
    height: 5px;
    background-color: #FFEFDE;
}

.chart-line-2 {
    width: 330px;
    height: 5px;
    background-color: #FFEFDE;
    position: absolute;
    right: 20px;
    top: 27%;
}

.chart-line-3 {
    width: 330px;
    height: 5px;
    background-color: #FFEFDE;
    position: absolute;
    right: 20px;
    bottom: 30%;
}

.chart-line-4 {
    width: 330px;
    height: 5px;
    background-color: #FFEFDE;
    position: absolute;
    left: 0px;
    bottom: 30%;
}


@media(min-width:1200px) {
    .max-width-363px {
        max-width: 363px;
    }
}


@media(max-width:768px) {
    .d_md_none {
        display: none;
    }

    .max-width-577px {
        max-width: 577px;
    }




}

@media(max-width:992px) {
    .d_none_xl {
        display: none;
    }

    .chart-line-1 {
        width: 190px !important;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        left: 0px;
        top: 28.5%;
    }

    .chart-line-2 {
        width: 176px !important;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        right: 20px;
        top: 28.5%;
    }

    .chart-line-3 {
        width: 176px !important;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        right: 20px;
        bottom: 30%;
    }

    .chart-line-4 {
        width: 190px !important;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        left: 0px;
        bottom: 30%;
    }

    .max-width-446px {
        max-width: 446px;
    }
}

@media (max-width:1200px) {
    .d_none_xl2 {
        opacity: 0;
    }

    .padding-0 {
        padding: 0;
    }

    .pt-12 {
        padding-top: 22px;
    }

}

@media(max-width:1140px) {
    .chart-line-1 {
        width: 250px;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        left: 0px;
        top: 28.5%;
    }

    .chart-line-2 {
        width: 230px;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        right: 20px;
        top: 28.5%;
    }

    .chart-line-3 {
        width: 230px;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        right: 20px;
        bottom: 30%;
    }

    .chart-line-4 {
        width: 250px;
        height: 5px;
        background-color: #FFEFDE;
        position: absolute;
        left: 0px;
        bottom: 30%;
    }
}


@media(min-width:768px) {


    .p_2 {
        padding: 8px !important;
    }

    .max-width-244px {
        max-width: 244px;
    }
}

@media(max-width:768px) {
    .d_none_md {
        display: none;
    }
}

.bg-style {
    background-color: white;
    border-radius: 100%;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 7px;
}

.bg-style:hover.y-50 {
    transform: translatey(-10px);
}

.bg-orange-style-2 {
    background-color: #FF5B2E;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 7px;
    border-radius: 100%;
    margin-left: 10px;

}

.bg-orange-style-1 {
    background-color: #FF5B2E;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 7px;
    border-radius: 100%;
    margin-left: 20px;
}

.bg-orange-style-1:hover.button-shadow {
    box-shadow: 0px 5px 27px 0px #FF5B2E4D;
}

.bg-orange-style-2:hover.button-shadow {
    box-shadow: 0px 5px 27px 0px #FF5B2E4D;
}

.text-justify {
    text-align: justify;
}